:root {
  --primary-black-color: #2e2f42;
  --text-color: #434455;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --secondary-white-color: #e5e5e5;
  --lightslate: #8e8f99;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

a,
.link {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left .logo.link {
  margin-right: 76px;
}

.header-navigation {
  display: flex;
}
.header-nav-item:not(:last-child) {
  margin-right: 40px;
}
.header-navigation .nav-link {
  color: var(--primary-black-color);
  font-weight: 500;
  display: block;
  padding: 24px 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}
.logo-accent {
  color: var(--primary-brand-color);
}
.logo-white {
  color: var(--light-color);
}

.address {
  font-style: normal;
}

.header-address {
  display: flex;
  gap: 40px;
}
.header-address > li {
  display: block;
  padding: 24px 0;
}
.header-address .address-link {
  color: var(--text-color);
}

.header-navigation .nav-link:hover,
.header-navigation .nav-link:focus,
.header-address .address-link:hover,
.header-address .address-link:focus {
  color: var(--pressed-state-color);
}

/* MAIN page */
/* HERO section */

.hero {
  background-color: var(--primary-black-color);
  padding: 188px 0;
  background-image: url(../images/hero-bg.jpg);
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* ADVANTAGES section */

.advantages-list {
  display: flex;
}

.advantage-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advantage-item:not(:last-child) {
  margin-right: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-title,
.team-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
}
.advantage-description {
  color: var(--text-color);
}

/* SERVICES section */

.services {
  padding-top: 0;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.service-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
  height: 300px;
}

.services-title,
.team-title,
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--primary-black-color);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

/* TEAM section */

.team {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-card {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
}

.team-card-content {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  text-align: center;
}

.team-role {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.team-social-list-item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-brand-color);
}
.team-social-list-item:hover,
.team-social-list-item:focus {
  background-color: var(--pressed-state-color);
}

/* .team-social-link{

} */

/* CUSTOMERS section */
.customers-list {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.customers-list-item {
  width: 168px;
  height: 88px;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
}
.customers-list-item:hover,
.customers-list-item:focus {
  border-color: var(--pressed-state-color);
}
/* иконка тоже меняет цвет при ховере */

/* FOOTER */

.footer {
  background-color: var(--primary-black-color);
  padding: 100px 0;
}

.footer-slogan {
  color: var(--light-color);
  width: 264px;
}

.footer .logo.link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .container {
  display: flex;
}

.footer-left-part {
  margin-right: 120px;
}

.footer-social-title {
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  column-gap: 16px;
}

.footer-social-list-item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-brand-color);
}
.footer-social-list-item:hover,
.footer-social-list-item:focus {
  background-color: #31d0aa;
}

/* PORTFOLIO page */

.portfolio-section.section {
  padding: 96px 0 120px 0;
}

.gallery-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.gallery-button {
  background-color: var(--light-color);
  color: var(--primary-brand-color);
  border: 1px solid var(--accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  padding: 12px 24px;
  border-radius: 4px;
}
.gallery-buttons > li:not(:last-child) {
  margin-right: 24px;
}

.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.gallery-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-card {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
}
.gallery-card:hover,
.gallery-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.gallery-card-image {
  width: 100%;
}

.gallery-card-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.gallery-card-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
}

.gallery-card-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
